<section id="byai2" class="section bg--gray-darker">
  <div class="section__content section__content--centered section__content--md section__content--reversed-text">
    <h3 class="section__heading">Proudly built by <a class="section__heading__ai2-logo" {% include url/url-ai2.html %}>{% include svg/ai2-logo.svg %}</a></h3>
    <p class="section__p">Hierplane is maintained by the nonprofit <a class="link" {% include url/url-ai2.html %}>Allen Institute for Artificial Intelligence (AI2)</a>. Originally built as an internal tool for <a class="link" {% include url/url-euclid.html %}>AI2’s Project Euclid</a>, we decided to open-source Hierplane in keeping with our mission: AI for the common good.</p>
  </div>
</section>
