<section class="section bg--white">
  <div class="section__content section__content--centered">
    <h3 class="section__heading">Intuitive UX, Out of the Box</h3>
    <ul class="features__list">
      <li class="feature">
        <div class="feature__image">{% include svg/badging.svg %}</div>
        <h4 class="feature__heading">Color-Coding and Badging</h4>
        <p class="feature__description">Node types are easily distinguished through style cues and custom attribute badging.</p>
      </li>
      <li class="feature">
        <div class="feature__image">{% include svg/relationships.svg %}</div>
        <h4 class="feature__heading">Descriptive Relationships</h4>
        <p class="feature__description">Links between nodes contain labels and show clear direction between parent and child.</p>
      </li>
      <li class="feature">
        <div class="feature__image">{% include svg/sequence.svg %}</div>
        <h4 class="feature__heading">Sequence Support</h4>
        <p class="feature__description">Hierplane offers an intuitive way to visualize verb, noun, and modifier sequences.</p>
      </li>
      <li class="feature">
        <div class="feature__image">{% include svg/highlight.svg %}</div>
        <h4 class="feature__heading">Node-to-Text Highlighting</h4>
        <p class="feature__description">For linguistic structures, users can highlight relationships between nodes and text passages.</p>
      </li>
      <li class="feature">
        <div class="feature__image">{% include svg/position.svg %}</div>
        <h4 class="feature__heading">Positional Cues</h4>
        <p class="feature__description">Common patterns can be reinforced through use of directional children (left, right, down, and inside).</p>
      </li>
      <li class="feature">
        <div class="feature__image">{% include svg/json.svg %}</div>
        <h4 class="feature__heading">Powerful, Platform-Agnostic API</h4>
        <p class="feature__description">Hierplane can sit on top of any stack and is driven by a simple JSON-based tree-rendering language.</p>
      </li>
    </ul>
  </div>
</section>
