<footer class="section bg--gray-very-dark footer">
  <div class="section__content section__content--reversed-text">
    <a {% include url/url-home.html %}>
      {% include logo.html %}
    </a>
    <nav class="footer__nav">
      {% include nav.html %}
    </nav>
    <div class="footer__copyright">
      <span class="footer__builtby">Proudly built by <a class="link" {% include url/url-ai2.html %}>AI2</a>.</span> &copy; The Allen Institute for Artificial Intelligence - All Rights Reserved.
    </div>
  </div>
    <!--TODO Add Google Analytics-->
</footer>
