<section class="section bg--gray-very-light intro">
  {% include header.html logo="hide" %}
  <div class="section__content section__content--centered">
    <!-- Hierplane Logo -->
    {% include logo.html %}
    <!-- Hero text -->
    <h2 class="intro__tagline">Easily display hierarchical data</h2>
    <p class="intro__description">Hierplane is an open-source Javascript library for visualizing and exploring trees.</p>
    <!-- Calls to Action-->
    <div class="intro__cta">
      {% include url/url-getstarted.html class="btn js-scroll" %}
      <!-- {% include url/url-examples.html class="btn" %} -->
    </div>
  </div>
</section>
