.bg--gray-very-dark {
  background-color: $gray-very-dark;
}

.bg--gray-darker {
  background-color: $gray-darker;
}

.bg--gray-lighter {
  background-color: $gray-lighter;
}

.bg--gray-very-light {
  background-color: $gray-very-light;
}

.bg--white {
  background-color: $white;
}
