// Grays
$black:             #000000;
$gray-very-dark:    #1d2025;  // Footer
$gray-darker:       #3b4047;  // Headings
$gray-dark:         #6b6f74;  // Body text
$gray-medium-dark:  #767b81;  // Nav links
$gray-medium:       #95a2ac;  // Illustration
$gray-light:        #d3dee2;  // Illustration
$gray-lighter:      #e8ecef;  // Banner BG
$gray-very-light:   #f3f5f7;  // Header BG
$white:             #ffffff;

// Blues
$blue:              #008dd3;  // Main accent color
$blue-light:        #4dc9ff;  // Logo
$blue-lighter:      #aeedfc;  // Logo
