.intro {
  & > .section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .logo {
    .logo__svg {
      width: 344*$rem;
      height: 72*$rem;
    }
  }

  &.bg--gray-very-light > .section__content {
    @include radial-gradient($white, $gray-very-light);
  }

  .header {
    box-shadow: none;
    background: transparent;
  }
}

.intro__tagline {
  margin: $margin-2 + $margin-3rd 0 $margin 0;
  font-size: 34*$rem;
  font-weight: 300;
  color: $gray-darker;
}

.intro__description {
  margin: 0;
  font-size: 18*$rem;
  line-height: 25*$rem;
  max-width: 374*$rem;
}

.intro__cta {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: $margin-3;

  .btn + .btn {
    margin-left: $margin;
  }
}

@media screen and (max-width:640*$rem) {
  .intro {
    .logo {
      .logo__svg {
        width: 270*$rem;
        height: 56*$rem;
      }
    }
  }
}
