.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Section Content Container

.section__content {
  box-sizing: border-box;
  width: 100%;
  max-width: $page-width-xl;
  padding: $margin-4 $margin-3q * 2;
  font-family: 'Ubuntu', sans-serif;
  color: $gray-dark;
  @include crisp;
  font-size: 16*$rem;

  pre,
  code {
    font-family: 'Ubuntu Mono', monospace;
    margin: 0;
  }

  pre,
  pre code {
    display: block;
  }

  a {
    text-decoration: none;
  }

  p {
    line-height: 24*$rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 + p {
    margin-top: $margin-2;
  }
}

// Section Content Elements

.section__heading {
  font-size: 28*$rem;
  color: $gray-darker;
  font-weight: 300;
  margin: 0;

  &:first-child {
    margin-top: -3*$rem;
  }

  .section__heading__ai2-logo {
    width: 35*$rem;
    height: 27*$rem;
    display: inline-block;
    fill: $white;
    transition: fill $trans-props,
                opacity $trans-props;
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.66;
      transition-duration: 0s;
    }
  }
}

// Section Content Modifiers

.section__content--centered {
  text-align: center;
}

.section__content--lg {
  max-width: 892*$rem;
}

.section__content--md {
  max-width: 668*$rem;
}

.section__content--sm {
  max-width: 460*$rem;
}

.section__content--reversed-text {
  &,
  & .section__heading {
    color: $white;
  }

  .section__p,
  .link {
    color: fade-out($white, 0.33);
  }

  .link {
    font-weight: 600;
    &:hover {
      color: $white;
    }
  }

  .svg--gray-darker.svg--reversable {
    fill: $blue-lighter;
  }

  .svg--blue.svg--reversable {
    fill: $blue-light;
  }
}
